doctype html
html
  head
    title #{title} - Node.js Chat Example
    link(rel='stylesheet', href='/stylesheets/style.css')
    block header
  body
    header
      h1 Node.js Chat Example
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p
        |  The complete source code is available on
        |  <a href="https://github.com/tiepologian/nodeFayeChat">GitHub</a>

